.LOGO {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 3300px;
  height: 2550px;
  z-index: 96;
}
.Rectangle_9_copy_9 {
  background-color: rgb( 193, 76, 76 );
  position: absolute;
  left: 380px;
  top: 338px;
  width: 54px;
  height: 15px;
  z-index: 95;
}
.Rectangle_9_copy_10 {
  background-color: rgb( 193, 76, 76 );
  position: absolute;
  left: 499px;
  top: 264px;
  width: 15px;
  height: 78px;
  z-index: 94;
}
.Rectangle_9_copy_8 {
  background-color: rgb( 193, 76, 76 );
  position: absolute;
  left: 438px;
  top: 264px;
  width: 76px;
  height: 16px;
  z-index: 93;
}
.Rectangle_9_copy_6 {
  background-color: rgb( 193, 76, 76 );
  position: absolute;
  left: 304px;
  top: 411px;
  width: 72px;
  height: 15px;
  z-index: 92;
}
.Rectangle_9_copy_5 {
  background-color: rgb( 193, 76, 76 );
  position: absolute;
  left: 301px;
  top: 334px;
  width: 15px;
  height: 92px;
  z-index: 91;
}
.Rectangle_9_copy_4 {
  background-color: rgb( 193, 76, 76 );
  position: absolute;
  left: 365px;
  top: 383px;
  width: 44px;
  height: 42px;
  z-index: 90;
}
.Rectangle_9_copy_3 {
  background-color: rgb( 193, 76, 76 );
  position: absolute;
  left: 469px;
  top: 331px;
  width: 45px;
  height: 42px;
  z-index: 89;
}
.Rectangle_9_copy_2 {
  background-color: rgb( 193, 76, 76 );
  position: absolute;
  left: 404px;
  top: 264px;
  width: 44px;
  height: 42px;
  z-index: 88;
}
.Rectangle_9_copy {
  background-color: rgb( 193, 76, 76 );
  position: absolute;
  left: 346px;
  top: 338px;
  width: 44px;
  height: 43px;
  z-index: 87;
}
.Rectangle_9_copy_7 {
  background-color: rgb( 193, 76, 76 );
  position: absolute;
  left: 424px;
  top: 309px;
  width: 43px;
  height: 44px;
  z-index: 86;
}
.Rectangle_9 {
  background-color: rgb( 193, 76, 76 );
  position: absolute;
  left: 301px;
  top: 305px;
  width: 45px;
  height: 41px;
  z-index: 85;
}
.Ellipse_2_copy_5 {
  border-radius: 50%;
  background-color: rgb( 193, 76, 76 );
  position: absolute;
  left: 444px;
  top: 358px;
  width: 39px;
  height: 38px;
  z-index: 84;
}
.Ellipse_2_copy_4 {
  border-radius: 50%;
  background-color: rgb( 193, 76, 76 );
  position: absolute;
  left: 387px;
  top: 366px;
  width: 39px;
  height: 39px;
  z-index: 83;
}
.Ellipse_2_copy_3 {
  border-radius: 50%;
  background-color: rgb( 193, 76, 76 );
  position: absolute;
  left: 325px;
  top: 366px;
  width: 39px;
  height: 39px;
  z-index: 82;
}
.Ellipse_2_copy_2 {
  border-radius: 50%;
  background-color: rgb( 193, 76, 76 );
  position: absolute;
  left: 448px;
  top: 286px;
  width: 39px;
  height: 39px;
  z-index: 81;
}
.Ellipse_2_copy {
  border-radius: 50%;
  background-color: rgb( 193, 76, 76 );
  position: absolute;
  left: 387px;
  top: 286px;
  width: 39px;
  height: 39px;
  z-index: 80;
}
.Ellipse_2 {
  border-radius: 50%;
  background-color: rgb( 193, 76, 76 );
  position: absolute;
  left: 331px;
  top: 285px;
  width: 39px;
  height: 39px;
  z-index: 79;
}

